# Read & Write CSV files

### Two ways
* pandas
* csv library

#### Pandas

In [1]:
# Read CSV file
import pandas as pd
df = pd.read_csv("data.csv")
df

  First Name    Last Name   Age   Grade   Address
0      Saeed          Isa    30     100     Haifa
1      Salam   Khatib-Isa    10      60   Baghdad
2      Nasim          Ali    60      98    Qahera
3      Ahmad        Manna    32      88     Tunis
4       Rabi         Sabi    40      65     Italy

https://youtu.be/f4e8v1NRdHs

In [2]:
# Writing csv
data = [['Layan', 'Haj', 20], ['Muhammed', 'Khalaily', 50], ['Shdwan', 'Kriem', 33]]
df2 = pd.DataFrame(data=data, columns=['FirstName', 'LastName', 'Age'])
df2

  FirstName  LastName  Age
0     Layan       Haj   20
1  Muhammed  Khalaily   50
2    Shdwan     Kriem   33

In [3]:
df2.to_csv('data2.csv', index=False)

#### CSV library

In [4]:
import csv

In [5]:
# Each line is list
with open('data.csv', 'r') as fd:
    csv_reader = csv.reader(fd)
    for r in csv_reader:
        print(r)

['First Name', ' Last Name', ' Age', ' Grade', ' Address']
['Saeed', ' Isa', ' 30', ' 100', ' Haifa']
['Salam', ' Khatib-Isa', ' 10', ' 60', ' Baghdad']
['Nasim', ' Ali', ' 60', ' 98', ' Qahera']
['Ahmad', ' Manna', ' 32', ' 88', ' Tunis']
['Rabi', ' Sabi', ' 40', ' 65', ' Italy']

In [6]:
# How can we check the header ?

In [8]:
# Each line is list
with open('data.csv', 'r') as fd:
    csv_reader = csv.reader(fd)
    for i, r in enumerate(csv_reader):
        if i == 0:
            print('header:', r)
        else:
            print('data:', r)

header: ['First Name', ' Last Name', ' Age', ' Grade', ' Address']
data: ['Saeed', ' Isa', ' 30', ' 100', ' Haifa']
data: ['Salam', ' Khatib-Isa', ' 10', ' 60', ' Baghdad']
data: ['Nasim', ' Ali', ' 60', ' 98', ' Qahera']
data: ['Ahmad', ' Manna', ' 32', ' 88', ' Tunis']
data: ['Rabi', ' Sabi', ' 40', ' 65', ' Italy']

In [9]:
# Each line is dictionary
with open('data.csv', 'r') as fd:
    csv_reader = csv.DictReader(fd)
    for r in csv_reader:
        print(r)

{'First Name': 'Saeed', ' Last Name': ' Isa', ' Age': ' 30', ' Grade': ' 100', ' Address': ' Haifa'}
{'First Name': 'Salam', ' Last Name': ' Khatib-Isa', ' Age': ' 10', ' Grade': ' 60', ' Address': ' Baghdad'}
{'First Name': 'Nasim', ' Last Name': ' Ali', ' Age': ' 60', ' Grade': ' 98', ' Address': ' Qahera'}
{'First Name': 'Ahmad', ' Last Name': ' Manna', ' Age': ' 32', ' Grade': ' 88', ' Address': ' Tunis'}
{'First Name': 'Rabi', ' Last Name': ' Sabi', ' Age': ' 40', ' Grade': ' 65', ' Address': ' Italy'}

In [10]:
# Writing csv
with open('data3.csv', 'w') as fd:
    csv_writer = csv.writer(fd)
    csv_writer.writerow(['Full Name', 'Day', 'Month'])
    csv_writer.writerow(['Saeed Isa', 15, 'July'])
    csv_writer.writerow(['Salam Isa-Khatib', 6, 'Feb'])